.wishlistwrapper {
  position: relative;
  /* overflow: visible; */
  width: 200px;
  /* z-index: 1000; */
}

.wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  /* z-index: 1000; */
}
.wishlistCount {
  font-size: 1.2rem;
  background: yellow;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.wishlistList {
  position: absolute;   
  top: calc(100% + 8px); 
  left: 0;
  width: 100%;

  background: #fff;
  border-radius: 8px;
  padding: 0 10px ;
    overflow: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  /* z-index: 1000; */
}

.wishlistList li {
  list-style: none;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}
